.task-management {
    padding: 15px 0;

    .header-button {
        button {
            margin-right: 15px;
            margin-bottom: 15px;
        }
    }
    .task-list {
        margin-bottom: 15px;
    }
}