.employee-wrapper {
    padding: 30px;
    
    .btn-wrapper {
        text-align: right;
        margin-bottom: 15px;
    }
    .filter-wrapper {
        margin-bottom: 5px;
    }
    .panation-wrapper {
        text-align: right;
    }
}