<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form *ngIf="!!taskLayoutList.length && fgData" [formGroup]="fgData">
        <div class="mb-3">
            <label for="{{dataFields.NAME.controlName}}" class="form-label">{{dataFields.NAME.displayName}}</label>
            <input type="text" class="form-control" [attr.name]="dataFields.NAME.controlName"
                id="{{dataFields.NAME.controlName}}" [formControlName]="dataFields.NAME.controlName"
                (keydown.enter)="handleModifyAction()" autocomplete="off">
            <error-message [condition]="xnErrorMessageHelper.isRequired(fgData, dataFields.NAME.controlName)"
                [fieldName]="dataFields.NAME.displayName" [typeErr]="ERR_MES_TYPE_ENUM.REQUIRED">
            </error-message>
        </div>
        <div class="mb-3">
            <label for="{{dataFields.START_TIME.controlName}}"
                class="form-label">{{dataFields.START_TIME.displayName}}</label>
            <ng-bootstrap-datetime-angular placeholder="Select DateTime" inputDatetimeFormat="dd/MM/yyyy hh:mm a"
                [formControlName]="dataFields.START_TIME.controlName" id="{{dataFields.START_TIME.controlName}}"
                [attr.name]="dataFields.START_TIME.controlName"></ng-bootstrap-datetime-angular>
        </div>
        <div class="mb-3">
            <label for="{{dataFields.END_TIME.controlName}}"
                class="form-label">{{dataFields.END_TIME.displayName}}</label>
            <ng-bootstrap-datetime-angular placeholder="Select DateTime" inputDatetimeFormat="dd/MM/yyyy hh:mm a"
                [formControlName]="dataFields.END_TIME.controlName" id="{{dataFields.END_TIME.controlName}}"
                [attr.name]="dataFields.END_TIME.controlName"></ng-bootstrap-datetime-angular>
        </div>
        <div class="mb-3">
            <label for="{{dataFields.DESCRIPTION.controlName}}"
                class="form-label">{{dataFields.DESCRIPTION.displayName}}</label>
            <textarea type="text" class="form-control" [attr.name]="dataFields.DESCRIPTION.controlName"
                id="{{dataFields.DESCRIPTION.controlName}}" [formControlName]="dataFields.DESCRIPTION.controlName"
                (keydown.enter)="handleModifyAction()" autocomplete="off"></textarea>
        </div>
        <div class="mb-3">
            <label for="{{dataFields.LAYOUT.controlName}}" class="form-label">{{dataFields.LAYOUT.displayName}}</label>
            <select class="form-control" [formControlName]="dataFields.LAYOUT.controlName">
                <option *ngFor="let item of taskLayoutList" [ngValue]="item.value">
                    {{ item.text }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <div [class.no-display]="fgData.controls[dataFields.LAYOUT.controlName].value === taskLayoutList[1].value">
                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                </div>
            </div>
            <div [class.no-display]="fgData.controls[dataFields.LAYOUT.controlName].value === taskLayoutList[0].value">
                <textarea type="text" class="form-control" [attr.name]="dataFields.IMAGE_LINK.controlName"
                    id="{{dataFields.IMAGE_LINK.controlName}}"
                    [formControlName]="dataFields.IMAGE_LINK.controlName"></textarea>
                <div class="form-text">
                    Please enter image link and multiple with separate each link (ex: http://image1,http://image2)
                </div>
            </div>
        </div>
        <div class="mb-3 text-center">
            <button *ngIf="fgData" type="button" class="btn btn-primary" (click)="handleModifyAction()"
                [disabled]="fgData.invalid">{{btnText}}</button>
        </div>
    </form>
</div>