@import '~font-awesome/css/font-awesome.css';

/* You can add global styles to this file, and also import other style files */
.custom-disabled {
    pointer-events: none;
    color: #000 !important;
    filter: opacity(0.5)
}

.backdrop-second {
    z-index: 1060 !important;
}
.modal-second {
    z-index: 1061 !important;
}
.no-display {
    display: none;
}